body {
  box-sizing: border-box;
}

.rubik-distressed-regular {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
}

.unifrakturmaguntia-regular {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
}

.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

.bungee-tint-regular {
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes mueveImagen {
  from {
    transform: scale(1);
  }

  to {
    translate: -200px;
    transform: scale(2);
  }
}

.articulo {
  max-width: 80%;
  height: auto;
  /* width: auto; */
}

.articulo:hover {
  animation-name: mueveImagen;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes iconoAnimado {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}

.iconos {
  animation-name: iconoAnimado;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

img {
  width: 200px;
}

/* .subheader{
  text-align: justify;
} */

@media (max-width: 900px) {
  body {
    width: 100vw;
    font-size: xx-small;
  }

  .redes_finanzas {
    display: flex;
    flex-direction: column;
    font-size: xx-small;
  }
}